@layer layout {
	.servers-sidebar {
		position: relative;
		grid-area: servers;
		background-color: var(--bg-color-darker);
		display: flex;
		flex-direction: column;
		gap: .5rem;
		padding: .75rem;
		overflow-y: auto;
	}
}

@layer components {
	.server {
		--border-radius: 1.5rem;

		position: relative;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		border-radius: var(--border-radius);
		width: 3rem;
		height: 3rem;
	}
}
