@layer layouts {
	.chat-header {
		grid-area: chat-header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: 1rem;
		border-block-end: 1px solid var(--bg-color-darker);
	}
}

@layer components {
	.channel-name {
		display: flex;
		align-items: center;
		gap: .5rem;

		.hash {
			width: 1rem;
			aspect-ratio: 1 / 1;
		}
	}
}
