@layer layouts {
	.chat-sidebar {
		grid-area: chat-sidebar;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		width: 15rem;
		padding-block: .5rem;

		background-color: var(--bg-color-dark);
		overflow-y: auto;
	}
}

@layer components {
	.user-list-group {
		display: flex;
		flex-direction: column;
		gap: .125rem;
		padding: .5rem;

		.user-list-row {
			display: flex;
			gap: .5rem;
			align-items: center;
			padding: .375rem .5rem;
			border-radius: .375rem;
		}
	}
}
