@layer layouts {
	.chat-sidebar {
		grid-area: chat-sidebar;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		width: 15rem;
		padding-block: .5rem;

		background-color: var(--bg-color-dark);
		overflow-y: auto;
	}
}

@layer components {
	.user-list-group {
		display: flex;
		flex-direction: column;
		gap: .125rem;
		padding: .5rem;

		.user-list-group-title {
			color: var(--foreground-color-dark);
			font-size: .75rem;
			font-weight: bold;
			text-transform: uppercase;
			padding-inline-start: .375rem;
		}


		.user-list-row {
			display: flex;
			gap: .5rem;
			align-items: center;
			padding: .375rem .5rem;
			border-radius: .375rem;

			&.offline {
				opacity: .5;
			}

			.user-img-wrapper {
				position: relative;
			}

			.user-img {
				width: 2rem;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
			}

			&:hover,
			&:focus-visible {
				background-color: var(--bg-color-light);
				opacity: 1;
			}

			&.active {
				background-color: var(--bg-color-lighter);
				opacity: 1;
			}

			&[data-status] .user-img-wrapper::before {
				content: "";
				position: absolute;
				bottom: -.25rem;
				right: -.25rem;
				width: 1.05rem;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				border: .2rem solid var(--bg-color-dark);
			}

			&[data-status="active"] .user-img-wrapper::before {
				background-color: var(--success-color);
			}

			&[data-status="inactive"] .user-img-wrapper::before {
				background-color: var(--warning-color);
			}

			&[data-status="busy"] .user-img-wrapper::before {
				background-color: var(--danger-color);
			}
		}
	}
}
