@layer layouts {
	.chat-header {
		grid-area: chat-header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: 1rem;
		border-block-end: 1px solid var(--bg-color-darker);
	}
}

@layer components {
	.channel-name {
		display: flex;
		align-items: center;
		gap: .5rem;

		.hash {
			width: 1rem;
			aspect-ratio: 1 / 1;
			color: var(--foreground-color-dark);
		}
	}

	.icons {
		display: flex;
		gap: 1rem;
		align-items: center;

		.icon {
			width: 1.5em;
			aspect-ratio: 1 / 1;
			border-radius: .25rem;
			color: var(--foreground-color-dark);

			&:hover,
			&:focus-visible {
				color: var(--foreground-color);
			}

			&.active {
				color: var(--foreground-color-light);
			}
		}
	}

	.search-input-wrapper {
		position: relative;

		.search-icon,
		.x-icon {
			/*Positioning*/
			position: absolute;
			top: 50%;
			right: .25rem;
			translate: 0 -50%;

			/*Dimensions*/
			height: 1rem;
			width: 1rem;

			/*Visual styling*/
			color: var(--foreground-color-dark);
			border-radius: .25rem;

			/*Transform/state properties*/
			opacity: 0;
			rotate: 90deg;
			visibility: hidden;

			/*Interaction*/
			pointer-events: none;

			/*Transitions*/
			transition-property: opacity, rotate, visibility;
			transition-duration: 150ms;
			transition-behavior: discrete;

			@media (prefers-reduced-motion: reduce) {
				transition: none;
			}
		}
	}
}
